.letter {
    display: grid;
    /* grid-template-columns: repeat(10, 50px); */
    text-align: center;
    grid-template-rows: repeat(15, auto);
}

div[class*="Row"] {
    display: grid;
    width: 500px;
    grid-template-columns: repeat(15, 1fr);
}

.firstRow {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.secondRow {
    grid-column: 1/-1;
    grid-row: 2/3;
}

.letter-key {
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 3px;
    transition: 0.2s linear;
}

.clicked {
    background-color: black;
    color: white;
}

.big {
    width: 100px;
}